---
import MenuHeader from "@components/MenuHeader.astro";
import SocialMedia from "@components/SocialMedia.astro";

const menuIcon = "/icons/menu.svg";
---

<header class="px-8 py-4 bg-white text-primary">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <div class="md:hidden relative">
      <img class="menu-icon w-8" src={menuIcon} alt="Menú" />
      <nav
        class="mobile-menu origin-top top-full hidden absolute bg-button box-content rounded-sm [&>ul>li]:p-2 [&>ul>li]:border-b [&>ul>li]:border-primary [&>ul>li]:w-full"
      >
        <MenuHeader />

        <div class="[&>ul>li]:border-0 [&>ul>li]:p-2">
          <SocialMedia color="#ffffff" />
        </div>
      </nav>
    </div>

    <span class="font-cinzel font-black italic text-sm md:text-base"
      >Catalina Romo</span
    >

    <nav class="menu-header hidden md:block">
      <MenuHeader />
    </nav>

    <button
      class="bg-button text-primary px-4 py-2 rounded hover:contrast-75 font-cinzel text-sm md:text-base font-medium"
      >Reserva aquí</button
    >

    <nav class="hidden md:block">
      <SocialMedia color="#84a59d" />
    </nav>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuIcon = document.querySelector(".menu-icon");
    const mobileMenu = document.querySelector(".mobile-menu");

    // Mobile Menu Icon Click
    menuIcon?.addEventListener("click", () => {
      const isMenuMobileOpen = mobileMenu?.classList.contains("hidden")
        ? false
        : true;

      if (!isMenuMobileOpen) {
        mobileMenu?.classList.remove("hidden", "animate-slide-up");
        mobileMenu?.classList.add("animate-slide-down");
      } else {
        mobileMenu?.classList.remove("animate-slide-down");
        mobileMenu?.classList.add("animate-slide-up");
        setTimeout(() => {
          mobileMenu?.classList.add("hidden");
        }, 300);
      }
    });

    // Mobile Menu Click outside Element
    document.addEventListener("click", (event) => {
      if (
        !mobileMenu?.contains(event.target as Node) &&
        !menuIcon?.contains(event.target as Node)
      ) {
        mobileMenu?.classList.remove("animate-slide-down");
        mobileMenu?.classList.add("animate-slide-up");
        setTimeout(() => {
          mobileMenu?.classList.add("hidden");
        }, 300);
      }
    });
  });
</script>
