<ul
  class="flex flex-col md:flex-row justify-center md:gap-5 items-center font-playfair"
>
  <li><a href="/servicios">Servicios</a></li>
  <li><a href="/galeris">Galería</a></li>
  <li><a href="/nosotros">Nosotros</a></li>
  <li><a href="/contacto">Contacto</a></li>
</ul>
