<ul
  class="flex flex-col md:flex-row justify-center md:gap-5 items-center font-playfair"
>
  <li>
    <a class="font-cinzel font-normal text-sm tracking-wider" href="/servicios"
      >Servicios</a
    >
  </li>
  <li>
    <a class="font-cinzel font-normal text-sm tracking-wider" href="/galeris"
      >Galería</a
    >
  </li>
  <li>
    <a class="font-cinzel font-normal text-sm tracking-wider" href="/nosotros"
      >Nosotros</a
    >
  </li>
  <li>
    <a class="font-cinzel font-normal text-sm tracking-wider" href="/contacto"
      >Contacto</a
    >
  </li>
</ul>
