<ul
  class="flex flex-col md:flex-row justify-center md:gap-5 items-center font-playfair px-5 py-7"
>
  <li>
    <a
      class="font-cinzel font-normal text-sm tracking-wider text-dorado"
      href="/servicios">Servicios</a
    >
  </li>
  <li>
    <a
      class="font-cinzel font-normal text-sm tracking-wider text-dorado"
      href="/galeria">Galería</a
    >
  </li>
  <li>
    <a
      class="font-cinzel font-normal text-sm tracking-wider text-dorado"
      href="/conoceme">Conóceme</a
    >
  </li>
  <li>
    <a
      class="font-cinzel font-normal text-sm tracking-wider text-dorado"
      href="/contacto">Contacto</a
    >
  </li>
</ul>
