---
const SERVICIOS = [
  {
    title: "Corte de Cabello",
    img: "/icons/haircut.svg",
    alt: "Corte de Cabello",
    description: "Descripción del servicio",
  },
  {
    title: "Teñido de Cabello",
    img: "/icons/dyeing.svg",
    alt: "Tinte de Cabello",
    description: "Descripción del servicio",
  },
  {
    title: "Manicure",
    img: "/icons/manicure.svg",
    alt: "Manicure",
    description: "Descripción del servicio",
  },
  {
    title: "Maquillaje",
    img: "/icons/make-up.svg",
    alt: "Maquillaje",
    description: "Descripción del servicio",
  },
];
---

<section class="max-w-7xl m-auto xl:-mt-32">
  <h2
    class="font-cinzel uppercase text-center py-5 text-2xl md:text-4xl font-normal bg-white tracking-widest"
  >
    Servicios
  </h2>

  <div
    class="flex md:grid md:grid-cols-2 snap-x snap-mandatory overflow-x-auto bg-white"
  >
    {
      SERVICIOS.map(({ img, alt, description, title }) => (
        <div class="flex-none md:flex md:flex-row md:aspect-[2/1] box-content mb-3 mx-3 last:mb-0 md:m-0 snap-center md:snap-none w-[80%] md:w-full md:mb-3">
          <div class="md:col-span-1 flex flex-col justify-center items-center aspect-square bg-secondary">
            <img class="w-36" src={img} alt={alt} />
          </div>
          <div class="md:col-span-1 flex flex-col justify-center items-center gap-3 aspect-square bg-button">
            <h3 class="font-cinzel text-xl font-semibold tracking-wider">
              {title}
            </h3>
            <p class="font-playfair font-thin">{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
