---
const { color } = Astro.props;

import InstagramIcon from "@components/InstagramIcon.astro";
import FacebookIcon from "@components/FacebookIcon.astro";
---

<ul class="flex justify-center items-center gap-2">
  <li>
    <InstagramIcon color={color} />
  </li>
  <li>
    <FacebookIcon color={color} />
  </li>
</ul>
