<ul class="flex justify-center items-center gap-2">
  <li>
    <img class="w-auto h-8" src="/socials/instagram.svg" alt="Instagram" />
  </li>
  <li>
    <img class="w-auto h-6" src="/socials/facebook.svg" alt="Facebook" />
  </li>
</ul>
